/* Map height set explicity to make sure the div is the right size. */
#map {
        height: 100%;
}

/* Makes map fill window */
html, body {
        height: 100%;
        margin: 0;
        padding: 0;
}

/* Set the map legend in the corner */
.key {
	position: fixed;
	left: 0%;
	bottom:0%;
	z-index:1;
}

/* Location panel button */
.loc-panel-button {
	position: fixed;
	right: .3%;
	top: 9%;
	z-index:1;
	background: #ffffff;
	min-height: 30px;
	height: 30px;
	min-width: 180px;
	width: 180px;
	box-shadow: 1px 1px 1px 1px #C9C9C9;
	-webkit-box-shadow: 2px 2px 1px 1px #C9C9C9;
	-moz-box-shadow: 2px 2px 1px 1px #C9C9C9;
	margin: 10px;
	padding: 10px;
	border-radius: 3px;
}

/* Change button color when mouse is over */
.active, .loc-panel-button:hover {
  background-color: #ececec;
}

/* Remove blue outline from button focus */
.loc-panel-button:focus {
	outline-width: 0;
}

/* Actual location panel styling */
.loc-panel-content {
	position: absolute;
	top: 30px;
	left: 0px;
	width: 180px;
	height: 280px;
	display: none;
	overflow: hidden;
	background-color: #ffffff;
	box-shadow: 1px 1px 1px 1px #C9C9C9;
	-webkit-box-shadow: 2px 2px 1px 1px #C9C9C9;
	-moz-box-shadow: 2px 2px 1px 1px #C9C9C9;
}

