/* Import font */
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed&display=swap");

/* Map height set explicity to make sure the div is the right size. */
#map {
  height: 100%;
}

/* Makes map fill window */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

/* Button to expand key */
.key-panel-button {
  position: fixed;
  left: 3%;
  bottom: 3%;
  z-index: 1;
  background: #ffffff;
  min-height: 30px;
  height: 30px;
  min-width: 180px;
  width: 180px;
  box-shadow: 1px 1px 1px 1px #c9c9c9;
  -webkit-box-shadow: 2px 2px 1px 1px #c9c9c9;
  -moz-box-shadow: 2px 2px 1px 1px #c9c9c9;
  padding: 0.2em;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #7b7b7b;
}

/* Key panel styling */
.key-panel-content {
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 220px;
  height: 90px;
  display: none;
  overflow: hidden;
  background-color: 000000;
  border-radius: 5px;
  border-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.85em;
  text-align: left;
  padding-left: 7px;
  padding-top: 7px;
}

/* Just to scale markers */
.key-marker {
  width: 1em;
  height: auto;
  float: center;
}

/* Location panel button */
.loc-panel-button {
  position: fixed;
  right: 1%;
  top: 9%;
  z-index: 1;
  background: #ffffff;
  min-height: 30px;
  height: 30px;
  min-width: 180px;
  width: 180px;
  box-shadow: 1px 1px 1px 1px #c9c9c9;
  -webkit-box-shadow: 2px 2px 1px 1px #c9c9c9;
  -moz-box-shadow: 2px 2px 1px 1px #c9c9c9;
  padding: 0.2em;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #7b7b7b;
}

/* Access panel button */
.acc-panel-button {
  position: fixed;
  right: 1%;
  top: 40%;
  z-index: 1;
  background: #ffffff;
  min-height: 30px;
  height: 30px;
  min-width: 180px;
  width: 180px;
  box-shadow: 1px 1px 1px 1px #c9c9c9;
  -webkit-box-shadow: 2px 2px 1px 1px #c9c9c9;
  -moz-box-shadow: 2px 2px 1px 1px #c9c9c9;
  padding: 0.2em;
  border-radius: 3px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #7b7b7b;
}

/* Change button color when mouse is over */
.active,
.loc-panel-button:hover,
.key-panel-button:hover,
.acc-panel-button:hover {
  background-color: #ececec;
  color: #404040;
}

/* Remove blue outline from button focus */
.loc-panel-button:focus,
.search-bar-box,
.key-panel-button,
.acc-panel-button:hover {
  outline-width: 0;
}

/* Actual location panel styling */
.loc-panel-content {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 180px;
  height: 340px;
  display: none;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 1px 1px 1px 1px #c9c9c9;
  -webkit-box-shadow: 2px 2px 1px 1px #c9c9c9;
  -moz-box-shadow: 2px 2px 1px 1px #c9c9c9;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75em;
}

/* Actual access panel styling */
.acc-panel-content {
  width: 280px;
  color: #606060
}

/* Search Bar */
.search-bar-box {
  position: fixed;
  top: 3%;
  left: 20%;
  background-color: #ffffff;
  z-index: 1;
  box-shadow: 1px 1px 2px 2px #c9c9c9;
  -webkit-box-shadow: 2px 2px 2px 2px #c9c9c9;
  -moz-box-shadow: 2px 2px 2px 2px #c9c9c9;
  padding-left: 0.75em;
  width: 280px;
  height: 35px;
  border: 0;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
}

/* Login text */
.access-text-header {
  text-align: center;
  color: #606060;
  font-size: 2em;
}

/* Access request link */
.access-text-request {
  position: relative;
  left: 10%;
  color: #606060;
  font-size: .8em
}

/* Access request link behavior */
.access-text-request:hover {
  color: #404040;
}

/* User & password boxes */
.center-relative {
  position: relative;
  left: 17%
}